body { 
	background-color: #fff;
}
a, a:visited { 
	color: #FF3D00;
}
.widget h3.widget-title { 
	color: #0A3C91;
}
.bookwrap { 
	background: #FFECCE; 
	border: 1px solid #FE9900; 
}
.step_wrapper legend{ 
	border-color: #FE9900;
}
.steps_tabs li a { 
	background-color: #FFECCE; 
	border-color: #FE9900;
}
.steps_tabs li.active a { 
	background-color: #FE9900;
	border-color: #FE9900;
	color: #fff;
}
.clist li { 
	border-bottom: 1px solid #FE9900;
}
#header_area {
	background: #FFECCE;
}
.contact-info span.pmeta { 
	color: #FE9900;
}