body { 
	background-color: #f9f9f9;
}
a, a:visited,
.logo-spot a, .logo-spot a:link, .logo-spot a:hover, .logo-spot a:active { 
	color: #CC9002;
}
.bookwrap { 
	background: #fff; 
	border: 1px solid #736D6B; 
}
.step_wrapper legend{ 
	border-color: #736D6B;
}
.steps_tabs li a { 
	background-color: #FFDD00; 
	border-color: #333;
}
.steps_tabs li.active a { 
	background-color: #736D6B;
	border-color: #333;
	color: #fff;
}
.clist li { 
	border-bottom: 1px solid #736D6B;
}
#header_area {
	background: #FFDD00;
}
#footer_area {
	background: #fff;
}