@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts//fontawesome-webfont.eot');
  src: url('../fonts//fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts//fontawesome-webfont.woff') format('woff'), url('../fonts//fontawesome-webfont.ttf') format('truetype'), url('../fonts//fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes spin-360{
	from{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);zoom:1}
	to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);zoom:1}
}
@-moz-keyframes spin-360{
	from{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);zoom:1}
	to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);zoom:1}
}
@-o-keyframes spin-360{
	from{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);zoom:1}
	to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);zoom:1}
}
@keyframes spin-360{
	from{-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);zoom:1}
	to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg);zoom:1}
}
.woocommerce table{border-spacing:0;width:100%;border:1px solid #e6e6e6;border-collapse:separate}
.woocommerce table td,.woocommerce table th{padding:.875em 1.416em;text-align:left;border-right:1px dotted #e6e6e6;vertical-align:top}
.woocommerce table strong{font-size:1.2em}
.woocommerce table td p:last-child,.woocommerce table th p:last-child{margin-bottom:0}
.woocommerce table thead th{background:#fff;border-right:1px dotted #e6e6e6;border-bottom:2px solid #e6e6e6;padding:1.416em;vertical-align:middle}
.woocommerce table tr th:last-child,.woocommerce table tr td:last-child{border-right:0}
.woocommerce table tbody th{background:#fff;border-bottom:1px solid #e6e6e6}
.woocommerce table tbody tr:nth-child(2n) td{border-right:1px dotted #e6e6e6;background-color:#fcfcfc}
.woocommerce table tbody tr:nth-child(2n) td:last-child{border-right:0}
.woocommerce table tbody td{background:#f9f9f9;border-bottom:1px solid #e6e6e6}
.woocommerce table tbody h2{font-size:1em;letter-spacing:normal;font-weight:normal}
.woocommerce table tbody h2 a{font-weight:normal}
.woocommerce table tbody tr:last-child td{border-bottom:0}
.woocommerce table tbody tr:last-child th{border-bottom:0}
.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce input[type="submit"]{display:inline-block;*display:inline;outline:0;position:relative;padding:5px 12px;margin-bottom:0;*margin-left:.3em;color:#333;text-align:center;vertical-align:middle;cursor:pointer;background-color:rgba(0,0,0,.05);border:0;*border:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt{color:#fff;background-color:#d61615}
.woocommerce .button:hover,.woocommerce input[type="submit"]:hover{color:#000;text-decoration:none;transition: all 0.25s ease-in-out;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;box-shadow: inset 0 0 100em rgba(0,0,0,.2);-webkit-box-shadow: inset 0 0 100em rgba(0,0,0,.2);-moz-box-shadow: inset 0 0 100em rgba(0,0,0,.2)}
.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover{color:#fff;box-shadow: inset 0 0 100em rgba(0,0,0,.3);-webkit-box-shadow: inset 0 0 100em rgba(0,0,0,.3);-moz-box-shadow: inset 0 0 100em rgba(0,0,0,.3)}
.woocommerce .button:active,.woocommerce .button.active{background-color:#ccc \9}
.woocommerce .button:first-child{*margin-left:0}
.woocommerce .button.active,.woocommerce .button:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.woocommerce .button.disabled,.woocommerce .button[disabled]{cursor:default;background-image:none;opacity:.65;filter:alpha(opacity=65)}
.woocommerce .button{border-color:#c5c5c5;border-color:rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25)}
.woocommerce .button[name="save_address"]{margin-top:1em}
.woocommerce-product-rating {margin-bottom:1.618em}
.star-rating{display:inline-block;overflow:hidden;position:relative;height:1em;line-height:1.2em;font-size:1.2em;width:5em;font-family:"fontawesome"}
.star-rating:before{content:"\f006\f006\f006\f006\f006";float:left;top:0;left:0;position:absolute;letter-spacing:.1em;letter-spacing:0\9;color:#bebebe}
.star-rating span{overflow:hidden;float:left;top:0;left:0;position:absolute;padding-top:1.5em}
.star-rating span:before{content:"\f005\f005\f005\f005\f005";top:0;position:absolute;left:0;letter-spacing:.1em;letter-spacing:0\9}
p.stars{overflow:hidden;position:relative;height:1.2em;line-height:1.2em;font-size:1.2em;font-family:"fontawesome"}
p.stars a{position:relative;width:16px;display:inline-block;overflow:hidden;color:transparent}
p.stars a:before {content:"\f005";color:#ddd}
p.selected a:before {content:"\f005";color:#333}
p.stars a:hover~a:before,
p.stars a.active~a:before{color:#ddd}
p.stars span:hover a:before{color:#333}
p.stars span a:hover~a:before{color:#ddd}
.panel {box-shadow:none}
#reviews .star-rating{float:right}
#reviews .comment{*zoom:1;padding:1em 0 0;margin-bottom:10px!important;position:relative}
#reviews .comment:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
#reviews .comment:before,#reviews .comment:after{content:"";display:table}
#reviews .comment:after{clear:both}
#reviews .comment img{float:left;position:absolute;top:0;left:0;padding:3px;width:32px;height:auto;background:#fff;border:1px solid #f0eef0;margin:0;-webkit-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}
#reviews .comment .meta{font-weight:normal;color:#999}
#reviews .comment-text{margin:0 0 0 50px;border:1px solid #f0eef0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding:1em 1em 0}
#reviews .add_review{clear:both;text-align:center}
table.shop_attributes{border:0;background-color:#f7f7f7;margin-bottom:1.618em;width:100%}
table.shop_attributes th{width:150px;font-weight:700;padding:8px;border-top:0;border-bottom:1px solid #fff;margin:0;line-height:1.5em}
table.shop_attributes td{font-style:italic;padding:0;border-top:0;border-bottom:1px solid #fff;margin:0;line-height:1.5em}
table.shop_attributes td p{margin:0;padding:8px 0}
table.shop_table{border:1px solid rgba(0,0,0,0.1);margin:0 -1px 24px 0;text-align:left;width:100%;border-collapse:separate;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
table.shop_table td.product-name a{font-weight:700}
dl.variation{*zoom:1;font-size:.857em}
dl.variation:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
dl.variation:before,dl.variation:after{content:"";display:table}
dl.variation:after{clear:both}
dl.variation dt{float:left;clear:left;margin-right:.236em}
dl.variation dd{margin-bottom:0}
.backorder_notification{font-size:.857em}
.backorder_notification:before{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-right:.618em;font-weight:normal;line-height:1em;width:1em;content:"\f071"}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {display:none}
noindex:-o-prefocus, input[type=number] {padding-right:1.2em}
.quantity,#content .quantity{width:60px;position:relative;overflow:hidden;zoom:1}
.quantity input.qty,#content .quantity input.qty{width:60px;height:33px;padding:0 10px;border:1px solid #C8BFC6}
.quantity noindex:-o-prefocus,.woocommerce-page .quantity noindex:-o-prefocus,#content .quantity noindex:-o-prefocus,.woocommerce-page #content .quantity noindex:-o-prefocus,.quantity input[type=number],.woocommerce-page .quantity input[type=number],#content .quantity input[type=number],.woocommerce-page #content .quantity input[type=number]{padding-right:1.2em}
.quantity .plus,#content .quantity .plus,.quantity .minus,#content .quantity .minus{display:block;padding:0;margin:0;position:absolute;text-align:center;vertical-align:text-top;width:20px;height:16px;overflow:visible;text-decoration:none;font-weight:700;cursor:pointer;line-height:13px;font-size:12px;color:#5e5e5e;border:1px solid #c8bfc6;background:#e6e6e6}
.quantity .plus:hover,#content .quantity .plus:hover,.quantity .minus:hover,#content .quantity .minus:hover{background:#d6d6d6}
.quantity .plus,#content .quantity .plus{top:0;right:0}
.quantity .minus,#content .quantity .minus{bottom:0;right:0}
table.cart th.product-remove,table.cart td.product-remove,table.cart th.product-thumbnail,table.cart td.product-thumbnail,table.cart th.product-price,table.cart td.product-price{display:none}
table.cart th{text-align:left}
table.cart td{vertical-align:middle;text-align:left}
table.cart td.product-remove{vertical-align:middle}
table.cart td.product-remove a{display:block;margin:0 auto;text-align:center;width:1.2em;height:1.2em;line-height:1;color:#dd4b39;;font-weight:700;font-size:1.6em;-webkit-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}
table.cart td.product-remove a:hover{background:#dd4b39;text-decoration:none;color:#fff}
table.cart td.product-thumbnail{text-align:center}
table.cart td.product-thumbnail img{max-width:none;width:2.618em;height:2.618em}
table.cart td.product-name a{font-weight:700}
table.cart td.product-name dl.variation{margin:0;font-style:italic}
table.cart td.product-quantity .quantity{margin:0 auto}
table.cart td.product-subtotal{font-weight:700}
table.cart .actions .coupon{margin:0 0 1.618em;padding:.53em 0 1.618em}
table.cart .actions .coupon label,table.cart .actions .coupon input.input-text,table.cart .actions .coupon .button{display:block;margin:0 0 1em}
table.cart .actions .coupon label{display:none}
table.cart .actions .coupon input.input-text{width:100%}
table.cart .actions .coupon .button{margin:0}
table.cart .actions .button{display:block;margin:0 0 1em;width:100%;padding:1em}
.wc-proceed-to-checkout{padding:1em 0}
#shiptobilling{float:none;width:100%}
#shiptobilling label,label[for="createaccount"]{vertical-align:middle;margin-left:.3em;display:inline-block;padding:0;margin:0 0 0 .3em}
.required{color:#c00;border:none!important}
.pp_woocommerce .pp_description {color:transparent}
.form-row.woocommerce-invalid.validate-required .chzn-single,.form-row.woocommerce-invalid.validate-required .chzn-drop,.form-row.woocommerce-invalid.validate-required select{border-color:#e69ea2;background-color:#fff}
.form-row.woocommerce-invalid.validate-required input.input-text{box-shadow:inset 0 0 0 1px #dd4b39;-webkit-box-shadow:inset 0 0 0 1px #dd4b39}
.form-row.woocommerce-validated.validate-required .chzn-single,.form-row.woocommerce-validated.validate-required .chzn-drop,.form-row.woocommerce-validated.validate-required select{border-color:#9ad893;background-color:#fff}
.form-row.woocommerce-validated.validate-required input.input-text{box-shadow:inset 0 0 0 1px #d61615;-webkit-box-shadow:inset 0 0 0 1px #d61615}
.form-row .input-text,.form-row select{width:100%;*width:90%;webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:auto;margin:0;outline:0;line-height:1.5em}
.lost_password{margin-left:.5em}
.widget .product_list_widget{list-style:none;margin-left:0}
.widget .product_list_widget li{*zoom:1;border-bottom:1px dotted #ddd;margin:0 0 .4em;padding-bottom:.4em}
.widget .product_list_widget li:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
.widget .product_list_widget li:before,.widget .product_list_widget li:after{content:"";display:table}
.widget .product_list_widget li:after{clear:both}
.widget .product_list_widget li img{width:2.618em;height:auto;float:right;margin-left:1em;-webkit-border-radius:10em;border-radius:10em}
.widget .product_list_widget li .amount{font-size:1.35em;line-height:1.35em;font-family:Georgia}
.widget .product_list_widget li ins{text-decoration:none}
.widget .product_list_widget li:last-child{margin:0;border:0}
.widget_layered_nav ul{list-style:none;margin-left:0}
.widget_layered_nav ul li .count{float:right}
.widget_layered_nav ul li.chosen a{background:#d61615;color:#fff;font-weight:700;padding:.382em .618em}
.widget_layered_nav ul li.chosen a:before{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-right:.618em;font-weight:normal;line-height:1em;width:1em;content:"\f00d";font-size:.875em}
.widget_product_categories ul{list-style:none;margin-left:0}
.widget_product_categories ul li .count{float:right}
.widget_login form{margin:0}
.widget_login label{display:block}
.widget_login input[type=text],.widget_login input[type=password]{width:100%}
.widget_login p{margin-bottom:.53em}
.widget_login p:nth-child(3){margin:.857em 0 0}
.widget_login p:nth-child(3) a{text-transform:uppercase;margin-left:1em;font-size:.857em}
.widget_price_filter .price_slider{margin-bottom:1em}
.widget_price_filter .price_slider_amount{text-align:right;line-height:2.4em}
.widget_price_filter .price_slider_amount .button{float:left}
.widget_price_filter .ui-slider{position:relative;text-align:left}
.widget_price_filter .ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1em;height:1em;-webkit-border-radius:1em;border-radius:1em;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;cursor:pointer;outline:0;background:#fff;border:1px solid #d61615;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.widget_price_filter .ui-slider .ui-slider-handle:last-child{margin-left:-1em}
.widget_price_filter .ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background:#d61615;-webkit-border-radius:1em;border-radius:1em;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}
.widget_price_filter .price_slider_wrapper .ui-widget-content{-webkit-border-radius:1em;border-radius:1em;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#e6e6e6}
.widget_price_filter .ui-slider-horizontal{height:1em}
.widget_price_filter .ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min{left:-1px}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max{right:-1px}
.widget_bizzcart{text-align:right;margin:1em 0}
.widget_bizzcart form{display:inline-block;margin:0;text-align:left}
.widget_bizzcart input{margin-bottom:.5em!important}
.widget_bizzcart label{display:none}
.widget_bizzcart .cart-contents{color:#d61615}
.widget_bizzcart .cart-contents:hover{text-decoration:none}
.widget_bizzcart .cart-contents:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  font-weight: normal;
  content: "\f07a";
  color: #666;
}
.widget_bizzcart .contents{color:#666;font-family:Georgia;font-size:1em}
.widget_bizzcart .contents:before{font-family:'FontAwesome';content:" - "}
.widget_bizzcart .price{font-size:3em;font-family:Georgia}
.widget_bizzcart .cart-contents:hover .amount{text-decoration:underline}
.woocommerce_message,.woocommerce_info,.woocommerce_error,.woocommerce-message,.woocommerce-info,.woocommerce-error{padding:1em 1em 1em 3.706em;position:relative;margin-bottom:1.618em;-webkit-border-radius:.327em;border-radius:.327em;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#f5f5f5}
.woocommerce-message:after,.woocommerce-error:after,.woocommerce-info:after{content:"";display:block;clear:both}
.woocommerce_message:before,.woocommerce_info:before,.woocommerce_error:before,.woocommerce-message:before,.woocommerce-info:before,.woocommerce-error:before{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-right:.618em;font-weight:normal;width:1em;position:absolute;top:1em;left:1.4em}
.woocommerce_message .button,.woocommerce_info .button,.woocommerce_error .button,.woocommerce-message .button,.woocommerce-info .button,.woocommerce-error .button{float:right;font-size:.875em;margin-left:1em;padding:.207em .618em}
.woocommerce_message:before,.woocommerce-message:before{content:"\f00c";color:#d61615}
.woocommerce_info:before,.woocommerce-info:before{content:"\f05a";color:#6c98c9}
.woocommerce_error:before,.woocommerce-error:before{content:"\f00d";color:#dd4b39}
ul.woocommerce-error,ul.woocommerce_error{margin-left:0!important;list-style:none}
.stock.out-of-stock:before,.stock.in-stock:before{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-right:.618em;font-weight:normal;line-height:1em;width:1em}
.stock.out-of-stock:before{content:"\f05c";color:#dd4b39}
.stock.in-stock:before{content:"\f05d";color:#d61615}
.onsale{display:block;padding:.334em .618em;text-align:center;background:#F89406;color:#fff;font-weight:700;font-size:.857em;-webkit-border-radius:.207em;border-radius:.207em;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}
ul.products{*zoom:1;list-style:none;position:relative;margin:0}
ul.products:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
ul.products:before,ul.products:after{content:"";display:table}
ul.products:after{clear:both}
ul.products li.product{width:48%;float:left;clear:left;margin-bottom:2.291em;text-align:center}
ul.products li.product:nth-child(2n){float:right;clear:none}
ul.products li.product a{display:block;position:relative}
ul.products li.product a img{display:block;height:auto;margin:0 auto .8em}
ul.products li.product h3{font-size:1em;line-height:1.3em}
ul.products li.product .onsale{position:absolute;top:1em;right:1em;left:auto}
ul.products li.product .star-rating{margin:0 auto .4em}
ul.products li.product .price{display:block;margin-bottom:.618em;font-family:Georgia;font-size:1.4em;line-height:1.5}
ul.products li.product .button,ul.products li.product .added_to_cart{display:inline-block;padding:.382em .618em}
ul.products li.product .button.loading:after{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-left:.618em;font-weight:normal;line-height:1em;width:1em;text-align:right;content:"\f021";-webkit-animation:spin-360 1s infinite linear;-moz-animation:spin-360 1s infinite linear;-o-animation:spin-360 1s infinite linear;animation:spin-360 1s infinite linear}
ul.products li.product .button.added:after{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-left:.618em;font-weight:normal;line-height:1em;width:1em;text-align:right;content:"\f00c"}
ul.products li.product .added_to_cart{text-indent:-999em;position:relative;color:#333;vertical-align:middle}
ul.products li.product .added_to_cart:after{content:"\f07a";font-family:"FontAwesome";display:block;text-indent:0;position:absolute;top:0;right:0;bottom:0;left:0;line-height:2.3;text-align:center;font-weight:700;background:#d61615;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
ul.products li.product .added_to_cart:hover:after{transition: all 0.25s ease-in-out;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;box-shadow: inset 0 0 100em rgba(0,0,0,.3);-webkit-box-shadow: inset 0 0 100em rgba(0,0,0,.3);-moz-box-shadow: inset 0 0 100em rgba(0,0,0,.3)}
ul.products li.product:hover .product-details{opacity:1;filter:alpha(opacity=@opacity * 100)}
ul.products li.product:nth-child(2n+1){clear:both}
.woocommerce-result-count,.woocommerce_ordering,.woocommerce-ordering{color:#999;margin-bottom:1em;padding-top:5px}
.woocommerce-result-count+ul.products,.woocommerce_ordering+ul.products,.woocommerce-ordering+ul.products{clear:both}
.woocommerce-ordering,.woocommerce_ordering{margin-bottom:2.618em}
.woocommerce-ordering ul,.woocommerce_ordering ul{*zoom:1;margin-left:0}
.woocommerce-ordering ul:after,.woocommerce_ordering ul:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
.woocommerce-ordering ul:before,.woocommerce_ordering ul:before,.woocommerce-ordering ul:after,.woocommerce_ordering ul:after{content:"";display:table}
.woocommerce-ordering ul:after,.woocommerce_ordering ul:after{clear:both}
.woocommerce-ordering ul li,.woocommerce_ordering ul li{list-style:none;margin-bottom:.5em}
.woocommerce-ordering ul li:first-child,.woocommerce_ordering ul li:first-child{margin-left:0}
.woocommerce-ordering ul li a,.woocommerce_ordering ul li a{padding:.618em 1em;background-color:#eaeaea;color:#474747;-webkit-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;font-weight:700;display:block}
.woocommerce-ordering ul li a:hover,.woocommerce_ordering ul li a:hover{text-decoration:none;transition: all 0.25s ease-in-out;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;box-shadow: inset 0 0 100em rgba(0,0,0,.1);-webkit-box-shadow: inset 0 0 100em rgba(0,0,0,.1);-moz-box-shadow: inset 0 0 100em rgba(0,0,0,.1)}
.woocommerce-ordering ul li.selected a,.woocommerce_ordering ul li.selected a{background:#474747;color:#f7f7f7}
.single-product .product{position:relative}
.single-product .product_title {clear:none;margin-top:0;margin-bottom:1em;padding:0}
.single-product .product .onsale{position:absolute;top:1em;left:1em}
.single-product .single_variation_wrap .price{display:block;font-size:2.224em;color:#141414}
.single-product form.cart{margin-bottom:2.618em}
.single-product .quantity{float:left;margin:0 1em 0 0}
.single-product .images{text-align:center}
.single-product .images img{height:auto;margin-bottom:2em}
.single-product .thumbnails{display:block;width:100%;*width:100%;*zoom:1}
.single-product .thumbnails:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
.single-product .thumbnails:before,.single-product .thumbnails:after{content:"";display:table}
.single-product .thumbnails:after{clear:both}
.single-product .thumbnails a{display:inline;float:left;width:25%;margin-left:4.166666666666666%;margin-right:4.166666666666666%;*width:24.947916666666668%;*margin-left:4.114583333333333%;*margin-right:4.114583333333333%;display:inline-block}
.single-product .thumbnails a.last{margin-right:0}
.single-product .summary .price{font-size:2.8em;font-family:Georgia;line-height:1.2em;color:#d61615;margin-bottom:.4em}
.single-product .summary .price del{font-size:.618em;color:#bebebe;font-weight:normal;margin-right:.382em}
.single-product .summary .price ins{text-decoration:none}
.single-product .summary .price .from{font-size:.5em;font-family:"Helvetica Neue"}
.single-product .summary [itemprop="description"]{margin-bottom:2em}
.single-product .summary #tab-description ul,.single-product .summary #tab-description ol{margin-left:1em}
.single-product .summary table.variations{border:0;-webkit-box-shadow:none;box-shadow:none}
.single-product .summary table.variations th,.single-product .summary table.variations td{padding:0;border:0;background:0;-webkit-box-shadow:none;box-shadow:none;display:list-item;list-style:none}
.single-product .summary table.variations .label{color:#333;text-shadow:none}
.single-product .summary table.group_table{margin-bottom:1em}
.single-product .summary table.group_table td.label{background:transparent;display:block;color:#333;padding:1.35em 1.416em;text-shadow:none}
.single-product .summary table.group_table .price{font-size:1.2em;width:1.618em}
.related h2{margin-top:.5em!important}
.shipping_calculator{margin-top:1em}
.shipping_calculator h2{font-size:1.387em}
.shipping_calculator h2 a{display:block}
.shipping_calculator h2 a:before{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-right:.618em;font-weight:normal;line-height:1em;width:1em;content:'\f0ac'}
.shipping_calculator h2 a:hover{text-decoration:none}
a.reset_variations{display:block;margin-bottom:1em}
a.reset_variations:before{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-right:.618em;font-weight:normal;line-height:1em;width:1em;content:"\f021"}
ul.order_details{*zoom:1;list-style:none;border:1px solid #e6e6e6;position:relative;-webkit-border-radius:.327em;border-radius:.327em;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;margin-left:0!important}
ul.order_details:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
ul.order_details:before,ul.order_details:after{content:"";display:table}
ul.order_details:after{clear:both}
ul.order_details li{float:left;padding:1em 1.618em;border-right:1px solid #e6e6e6;font-size:.8em;text-transform:uppercase;color:#9c9c9c}
ul.order_details li strong{display:block;font-size:1.387em;text-transform:none;color:#474747}
table.my_account_orders{font-size:.875em}
table.my_account_orders .button{padding:.236em .618em;margin-right:.236em}
table.my_account_orders .button:last-child{margin-right:0}
table.my_account_orders td.order-actions{min-width:11.089em}
table.my_account_orders .order-date,table.my_account_orders .order-status,table.my_account_orders .order-total{display:none}
ul.digital-downloads li{list-style:none;margin-bottom:.618em;padding-bottom:.618em;border-bottom:1px solid #e6e6e6}
ul.digital-downloads li .count{float:right}
ul.digital-downloads li a:before{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-right:.618em;font-weight:normal;line-height:1em;width:1em;content:"\f01a"}
ul.digital-downloads li:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0}
.cross-sells ul.products{margin-left:0}
#shipping_method{list-style:none;margin:0}
.checkout .col-2 h3 label{font-size:24.5px;font-weight:bold;line-height:25px;padding-left:0;display:inline-block}
.checkout .col-2 h3 .input-checkbox{vertical-align:baseline}
#payment{border:1px solid #e6e6e6;*zoom:1;-webkit-border-radius:.327em;border-radius:.327em;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}
#payment:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
#payment:before,#payment:after{content:"";display:table}
#payment:after{clear:both}
#payment .create-account{clear:both}
#payment .payment_methods{margin:0!important;border-bottom:1px solid #e6e6e6;padding:0!important}
#payment .payment_methods li{list-style:none!important;padding:1em!important;border-bottom:1px solid #e6e6e6;margin-left:0;background:#fff}
#payment .payment_methods li img{float:right;border:0;padding:0}
#payment .payment_methods li:last-child{padding-bottom:0;border-bottom:0}
#payment .payment_methods li input{margin-top:0}
#payment .payment_methods li label{width:75%;margin-bottom:0;margin-left:.618em;display:inline-block;font-weight:700}
#payment .payment_methods li p{margin-bottom:0}
#payment .payment_methods li .payment_box{padding:1em;margin:1em -1em -1em -1em;background:#f7f7f7;border-top:1px solid #e6e6e6}
#payment .payment_methods li .payment_box fieldset{border:0;margin:0;padding:1em 0 0 0;font-size:.857em}
#payment .payment_methods li .payment_box fieldset label{width:auto;margin-left:0}
#payment .payment_methods li .payment_box fieldset .form-row{margin-bottom:1em}
#payment .payment_methods li .payment_box fieldset .form-row-first select{width:48%}
#payment .payment_methods li .payment_box fieldset .form-row-first select:nth-child(2n){float:right}
#payment .payment_methods li .payment_box fieldset #cvv{width:22%!important}
#payment .payment_methods li .payment_box fieldset .help{width:75%;float:right}
#payment .terms label{display:inline}
#payment .place-order{padding:1em;margin-bottom:0;float:none;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align: right;}
#payment .place-order .button{font-size:1.387em;line-height:1.387em}
@media only screen and (min-width: 800px) {
	.col2-set{clear:both;*zoom:1}
	.col2-set:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
	.col2-set:before,.col2-set:after{content:"";display:table}
	.col2-set:after{clear:both}
	.col2-set .col-1{width:48%;float:left}
	.col2-set .col-2{width:48%;float:right}
	.form-row{width:48%;float:left}
	.form-row label{display:block;padding:.236em 0}
	.form-row label.checkbox{display:inline}
	.form-row.notes{width:100%;float:none}
	.form-row.notes textarea{width:100%;*width:90%}
	.form-row.notes+h3{clear:both}
	.form-row-first{clear:left}
	.form-row-last{float:right}
	.form-row-wide{float:left;width:100%;clear:both}
	.woocommerce-ordering,.woocommerce_ordering{margin-bottom:2.618em}
	.woocommerce-ordering ul li,.woocommerce_ordering ul li{float:left;margin-left:.5em}
	.woocommerce-ordering ul li a,.woocommerce_ordering ul li a{display:inline-block}
	header.title{overflow:hidden;zoom:1;margin-top:1em}
	header.title h1,header.title h2,header.title h3,header.title h4,header.title h5{float:left}
	header.title a.edit{float:right;font-weight:700}
	header.title a.edit:before{font-family:'FontAwesome';display:inline-block;font-size:100%;margin-right:.618em;font-weight:normal;line-height:1em;width:1em;content:"\f044"}
	.woocommerce-result-count{width:30.833333333333336%;float:left}
	.woocommerce-ordering,.woocommerce_ordering{float:right;text-align:right;width:63.7%}
	.woocommerce-ordering ul,.woocommerce_ordering ul{float:right}
	ul.products li.product{margin-right:3.8%;clear:none}
	ul.products li.product:nth-child(2n+1){clear:none}
	ul.products li.product:nth-child(2n){float:left}
	ul.products li.product.first{clear:both}
	ul.products li.product.last{margin-right:0}
	.post-type-archive-product ul.products li.product{margin-bottom:1.618em}
	ul.products li.product .product-details{position:absolute;background:rgba(214, 22, 21, 0.85);top:0;left:0;right:0;bottom:0;color:#f7f7f7;padding:1.618em;text-align:left;opacity:0;filter:alpha(opacity=@opacity * 100);-webkit-transition:all ease .4s;-moz-transition:all ease .4s;-ms-transition:all ease .4s;-o-transition:all ease .4s;transition:all ease .4s}
	ul.products li.product .product-details h3{color:#fff;font-size:1em;font-weight:400}
	ul.products li.product .product-details .star-rating{font-size:.875em;margin:0 0 .618em}
	ul.products li.product .product-details .star-rating:before{color:#000;content:"\f005\f005\f005\f005\f005"}
	ul.products li.product .button,ul.products li.product .added_to_cart{padding:.7em 1em}
	ul.products li.product .added_to_cart:after{line-height:3}
	.woocommerce-columns-2 ul.products li.product{width:48%}
	.woocommerce-columns-3 ul.products li.product{width:30.75%}
	.woocommerce-columns-4 ul.products li.product{width:22.05%}
	.woocommerce-columns-5 ul.products li.product{width:16.96%}
	.layout-full .woocommerce-columns-2 ul.products{display:block;width:104.16666666666667%;margin-left:-2.083333333333333%;margin-right:-2.083333333333333%;*width:104.11458333333334%;*margin-left:-2.1354166666666665%;*margin-right:-2.1354166666666665%;*zoom:1}
	.layout-full .woocommerce-columns-2 ul.products:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
	.layout-full .woocommerce-columns-2 ul.products:before,.layout-full .woocommerce-columns-2 ul.products:after{content:"";display:table}
	.layout-full .woocommerce-columns-2 ul.products:after{clear:both}
	.layout-full .woocommerce-columns-2 ul.products li.product{display:inline;float:left;width:45.83333333333333%;margin-left:2.083333333333333%;margin-right:2.083333333333333%;*width:45.78124999999999%;*margin-left:2.0312499999999996%;*margin-right:2.0312499999999996%}
	.layout-full .woocommerce-columns-3 ul.products{display:block;width:104.16666666666667%;margin-left:-2.083333333333333%;margin-right:-2.083333333333333%;*width:104.11458333333334%;*margin-left:-2.1354166666666665%;*margin-right:-2.1354166666666665%;*zoom:1}
	.layout-full .woocommerce-columns-3 ul.products:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
	.layout-full .woocommerce-columns-3 ul.products:before,.layout-full .woocommerce-columns-3 ul.products:after{content:"";display:table}
	.layout-full .woocommerce-columns-3 ul.products:after{clear:both}
	.layout-full .woocommerce-columns-3 ul.products li.product{display:inline;float:left;width:29.166666666666668%;margin-left:2.083333333333333%;margin-right:2.083333333333333%;*width:29.114583333333336%;*margin-left:2.0312499999999996%;*margin-right:2.0312499999999996%}
	.layout-full .woocommerce-columns-4 ul.products{display:block;width:104.16666666666667%;margin-left:-2.083333333333333%;margin-right:-2.083333333333333%;*width:104.11458333333334%;*margin-left:-2.1354166666666665%;*margin-right:-2.1354166666666665%;*zoom:1}
	.layout-full .woocommerce-columns-4 ul.products:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
	.layout-full .woocommerce-columns-4 ul.products:before,.layout-full .woocommerce-columns-4 ul.products:after{content:"";display:table}
	.layout-full .woocommerce-columns-4 ul.products:after{clear:both}
	.layout-full .woocommerce-columns-4 ul.products li.product{display:inline;float:left;width:20.833333333333336%;margin-left:2.083333333333333%;margin-right:2.083333333333333%;*width:20.781250000000004%;*margin-left:2.0312499999999996%;*margin-right:2.0312499999999996%}
	.layout-full .woocommerce-result-count,.layout-full .woocommerce-ordering,.layout-full .woocommerce_ordering{float:none;text-align:center;width:100%}
	.layout-full .woocommerce-ordering ul,.layout-full .woocommerce_ordering ul{float:none;text-align:center}
	.layout-full .woocommerce-ordering ul li,.layout-full .woocommerce_ordering ul li{display:inline;float:none}
	.layout-full.post-type-archive-product .page-description{text-align:center}
	/*.layout-full.post-type-archive-product h1.page-title{text-align:center}*/
	.home .layout-full.home{display:inline;float:left;width:95.83333333333334%;margin-left:2.083333333333333%;margin-right:2.083333333333333%;*width:95.78125000000001%;*margin-left:2.0312499999999996%;*margin-right:2.0312499999999996%}
	.home .brand-thumbnails{*zoom:1;text-align:center}
	.home .brand-thumbnails:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
	.home .brand-thumbnails:before,.home .brand-thumbnails:after{content:"";display:table}
	.home .brand-thumbnails:after{clear:both}
	.home .brand-thumbnails li{display:inline-block;width:auto!important;margin:0 1%!important;float:none!important}
	.home .brand-thumbnails li img{max-height:2em;width:auto}
	.single-product .images{width:37.916666667%;margin-bottom:1.618em;float:left}
	.single-product .images img{width:100%}
	.single-product .summary{width:57.916666667%;margin-bottom:1.618em;float:right}
	.single-product .summary table.variations tbody{display:block;width:108.33333333333333%;margin-left:-4.166666666666666%;margin-right:-4.166666666666666%;*width:108.28125%;*margin-left:-4.218749999999999%;*margin-right:-4.218749999999999%;*zoom:1}
	.single-product .summary table.variations tbody:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
	.single-product .summary table.variations tbody:before,.single-product .summary table.variations tbody:after{content:"";display:table}
	.single-product .summary table.variations tbody:after{clear:both}
	.single-product .summary table.variations tr{display:inline;float:left;width:91.66666666666667%;margin-left:4.166666666666666%;margin-right:4.166666666666666%;*width:91.614583333333336%;*margin-left:4.114583333333333%;*margin-right:4.114583333333333%}
	.single-product .summary table.variations tr td{width:100%}
	.single-product .summary table.group_table th,.single-product .summary table.group_table td{vertical-align:middle}
	.single-product .summary table.group_table tr td:first-child{width:4.236em}
	.single-product .summary table.group_table tr td:first-child .quantity{margin:0}
	.single-product .summary .product_meta{border-top:1px solid #DDD;margin-top:2em;padding-top:1em}
	.single-product .upsells,.single-product .related{clear:both}
	.single-product .upsells ul.products,.single-product .related ul.products{margin-bottom:0}
	.single-product .upsells h2{margin:1em 0}
	.single-product .woocommerce-tabs ul.tabs li.description_tab a,.single-product .woocommerce-tabs ul.tabs li.additional_information_tab a,.single-product .woocommerce-tabs ul.tabs li.reviews_tab a{text-indent:0;position:relative;width:auto}
	.single-product .woocommerce-tabs ul.tabs li.description_tab a:after,.single-product .woocommerce-tabs ul.tabs li.additional_information_tab a:after,.single-product .woocommerce-tabs ul.tabs li.reviews_tab a:after{display:none}
	.layout-full .related{background:rgba(0,0,0,0.025);padding-top:1.618em;-webkit-box-shadow:40em 0 0 0 rgba(0,0,0,0.025),-40em 0 0 0 rgba(0,0,0,0.025);box-shadow:40em 0 0 0 rgba(0,0,0,0.025),-40em 0 0 0 rgba(0,0,0,0.025)}
	.layout-full .related h2{margin-top:0;margin-bottom:1.4em;text-align:center}
	.layout-full.single-product .wrapper+.footer-shop{margin-top:-4.236em}
	table.cart th.product-remove,table.cart td.product-remove,table.cart th.product-thumbnail,table.cart td.product-thumbnail,table.cart th.product-price,table.cart td.product-price{display:table-cell}
	table.cart .actions{text-align:right;padding:.875em}
	table.cart .actions .coupon{width:50%;float:left;border:0;text-align:left;padding:0;margin:0}
	table.cart .actions .coupon label,table.cart .actions .coupon input.input-text,table.cart .actions .coupon .button{display:inline;margin:0}
	table.cart .actions .coupon label{display:none}
	table.cart .actions .coupon input.input-text{width:57%}
	table.cart .actions .coupon .button{float:none;width:auto;margin:0 0 0 .541em}
	table.cart .actions .button{width:auto;display:inline-block;margin:0 0 0 .541em;padding:.3em .7em}
	.cart-collaterals{*zoom:1}
	.cart-collaterals:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
	.cart-collaterals:before,.cart-collaterals:after{content:"";display:table}
	.cart-collaterals:after{clear:both}
	.cart-collaterals .cross-sells,.cart-collaterals .cart_totals,.cart-collaterals .shipping_calculator{width:48%}
	.cart-collaterals .cross-sells{float:left}
	.cart-collaterals .cart_totals,.cart-collaterals .shipping_calculator{float:right;clear:right}
	.cart-collaterals .shipping_calculator .shipping-calculator-form{*zoom:1}
	.cart-collaterals .shipping_calculator .shipping-calculator-form:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both}
	.cart-collaterals .shipping_calculator .shipping-calculator-form:before,.cart-collaterals .shipping_calculator .shipping-calculator-form:after{content:"";display:table}
	.cart-collaterals .shipping_calculator .shipping-calculator-form:after{clear:both}
	.cart-collaterals .shipping_calculator .clear{clear:both}
	table.my_account_orders .order-date,table.my_account_orders .order-status,table.my_account_orders .order-total{display:table-cell}
	form.checkout_coupon{display:table}
	#customer_details .notes{clear:both}
	#payment .payment_methods li label{width:90%}
	.archive .widget_bizzcart{float:right}
}


